{% extends 'sponsor/base.html' %} 

{% block title %}Create Campaign{% endblock %}

{% block content %}

<h1 class="display-4 mt-4">Create New Campaign</h1>

<form method="POST" action="{{ url_for('sponsor.create_campaign') }}">
    {{ form.hidden_tag() }} 
    <div class="form-group">
        {{ form.name.label(class="form-control-label") }}
        {{ form.name(class="form-control") }}
        {% if form.name.errors %}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.description.label(class="form-control-label") }}
        {{ form.description(class="form-control") }}
        {% if form.description.errors %}
            <div class="invalid-feedback">
                {% for error in form.description.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.start_date.label(class="form-control-label") }}
            {{ form.start_date(class="form-control") }}
        </div>
        <div class="form-group col-md-6">
            {{ form.end_date.label(class="form-control-label") }}
            {{ form.end_date(class="form-control") }}
        </div>
    </div>

    <div class="form-group">
        {{ form.budget.label(class="form-control-label") }}
        {{ form.budget(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.visibility.label(class="form-control-label") }}
        {{ form.visibility(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.goals.label(class="form-control-label") }}
        {{ form.goals(class="form-control") }}
    </div>

    {{ form.submit(class="btn btn-primary") }}
</form>

{% endblock %}
